TEST_EMAIL="email@example.com"
TEST_PASSWORD="password"
TEST_USER_ID=1234
TEST_HENTAI_VIDEO_ID=5678
TEST_HENTAI_VIDEO_SLUG="hentai-slug"
TEST_HENTAI_VIDEO_TRANSCODE_FILESIZE_MBS=123
TEST_USER_CHANNEL_ID=4321
TEST_USER_CHANNEL_SLUG=user-1234